.Footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 32px 80px;
    gap: 10px;

    width: 100%;
    height: 102px;

    background: #130125;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.FooterFrame-22{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    gap: auto;

    width: 100%;
    height: 38px;
}